[submodule "contracts/polkadot-contract"]
	path = contracts/polkadot-contract
	url = https://github.com/web3lancer/polkadot-contract
[submodule "contracts/layerzerocontracts"]
	path = contracts/layerzerocontracts
	url = https://github.com/web3lancer/zeroints
