NEXT_PUBLIC_APPWRITE_BUCKET_VERIFICATION_DOCUMENTS_PRIVATE_ID=68271a72002d4f3121f9
NEXT_PUBLIC_APPWRITE_DATABASE_PROFILES_ID=67b885280000d2cb5411
NEXT_PUBLIC_APPWRITE_DATABASE_JOBS_ID=67af3ffe0011106c4575
NEXT_PUBLIC_APPWRITE_DATABASE_FINANCE_ID=6824815a000876ad3405
NEXT_PUBLIC_APPWRITE_DATABASE_SOCIAL_ID=6824814b0017b0ca6488
NEXT_PUBLIC_APPWRITE_DATABASE_CONTENT_ID=6824819600054bbe2cf1
NEXT_PUBLIC_APPWRITE_DATABASE_GOVERNANCE_ID=682481ab003a73ef7b32
NEXT_PUBLIC_APPWRITE_DATABASE_ACTIVITY_ID=682481bd002efe19bb70
NEXT_PUBLIC_APPWRITE_DATABASE_CORE_ID=682481e00032b7373ad0
NEXT_PUBLIC_APPWRITE_COLLECTION_USER_PROFILES_ID=67b8853c003c55c82ff6
NEXT_PUBLIC_APPWRITE_COLLECTION_PROFILE_VERIFICATIONS_ID=68249904002937ae4ecf
NEXT_PUBLIC_APPWRITE_COLLECTION_JOB_POSTINGS_ID=67b8f57b0018fe4fcde7
NEXT_PUBLIC_APPWRITE_COLLECTION_JOB_PROPOSALS_ID=6825c8cf0002ffa57b91
NEXT_PUBLIC_APPWRITE_COLLECTION_JOB_CONTRACTS_ID=6825d0b000159413e131
NEXT_PUBLIC_APPWRITE_COLLECTION_CONTRACT_MILESTONES_ID=6825d46f0022486c577c
NEXT_PUBLIC_APPWRITE_COLLECTION_USER_REVIEWS_ID=6825d60f0039f3a64ce8
NEXT_PUBLIC_APPWRITE_COLLECTION_USER_WALLETS_ID=6825df1b0031cb6d343f
NEXT_PUBLIC_APPWRITE_COLLECTION_PLATFORM_TRANSACTIONS_ID=6825e7ff0019f94e4dee
NEXT_PUBLIC_APPWRITE_COLLECTION_USER_PAYMENT_METHODS_ID=6825f21e0006e9254f95
NEXT_PUBLIC_APPWRITE_COLLECTION_ESCROW_TRANSACTIONS_ID=6825f3610037fc679007
NEXT_PUBLIC_APPWRITE_COLLECTION_USER_CONNECTIONS_ID=6825f4a7002e7fab6684
NEXT_PUBLIC_APPWRITE_COLLECTION_DIRECT_MESSAGES_ID=6825fc1c002ebfb3dd38
NEXT_PUBLIC_APPWRITE_COLLECTION_GROUP_CHATS_ID=682600b1002531b00409
NEXT_PUBLIC_APPWRITE_COLLECTION_GROUP_CHAT_MESSAGES_ID=682604ca0027cd939f92
NEXT_PUBLIC_APPWRITE_COLLECTION_USER_POSTS_ID=682610e0000ac92fec36
NEXT_PUBLIC_APPWRITE_COLLECTION_POST_INTERACTIONS_ID=682613500036faceda65
NEXT_PUBLIC_APPWRITE_COLLECTION_USER_PORTFOLIOS_ID=68261c6900257648bca2
NEXT_PUBLIC_APPWRITE_COLLECTION_USER_ARTICLES_ID=68261da9003375d05ed6
NEXT_PUBLIC_APPWRITE_COLLECTION_USER_BOOKMARKS_ID=682717b6001b717bcf1c
NEXT_PUBLIC_APPWRITE_COLLECTION_CONTRACT_DISPUTES_ID=682624f5003a285b9d74
NEXT_PUBLIC_APPWRITE_COLLECTION_DISPUTE_VOTES_ID=682626b5003365a67feb
NEXT_PUBLIC_APPWRITE_COLLECTION_PLATFORM_PROPOSALS_ID=682628b60029ec00e5a8
NEXT_PUBLIC_APPWRITE_COLLECTION_USER_NOTIFICATIONS_ID=68262a32001f5fdeef77
NEXT_PUBLIC_APPWRITE_COLLECTION_AUDIT_LOGS_ID=68264674000c58a67772
NEXT_PUBLIC_APPWRITE_COLLECTION_APP_SKILLS_ID=6826479f003269b642ce
NEXT_PUBLIC_APPWRITE_COLLECTION_APP_CATEGORIES_ID=682648670015e61c88ed
NEXT_PUBLIC_APPWRITE_COLLECTION_PLATFORM_SETTINGS_ID=682648ee0004d166c9f5
NEXT_PUBLIC_APPWRITE_BUCKET_MISCELLANEOUS_ID=67b889d200014904243b
NEXT_PUBLIC_APPWRITE_BUCKET_MESSAGE_ATTACHMENTS_ID=67b889b6000f7e9fa47c
NEXT_PUBLIC_APPWRITE_BUCKET_PROJECT_MEDIA_ID=67b88992001f1185cf8e
NEXT_PUBLIC_APPWRITE_BUCKET_PROJECT_DOCUMENTS_ID=67b8896b001c03586d6c
NEXT_PUBLIC_APPWRITE_BUCKET_JOB_ATTACHMENTS_ID=67b889440032a2ff90d3
NEXT_PUBLIC_APPWRITE_BUCKET_PROFILE_AVATARS_ID=68271a49000952f46753
NEXT_PUBLIC_APPWRITE_BUCKET_COVER_IMAGES_ID=68271a5f000426c52bbe
NEXT_PUBLIC_APP_URL=https://www.web3lancer.website
NEXT_PUBLIC_APPWRITE_ENDPOINT=
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
NEXT_PUBLIC_APPWRITE_BUCKET_ID=67b889200019e3d3519d


